<div class="container">

  <h1> Fun Facts About Spring </h1>
  <hr>
  <p> 
    Spring is one of the @Model.Number seasons. The other three seasons are @Model.AdjectiveOne, @Model.NounOne, and @Model.NounTwo.
    Spring happens early in the year if you live @Model.AdjectiveTwo of the equator and late in the year if you live @Model.AdjectiveThree of it. 
    Spring is a time where baby @Model.PluralNounOne and @Model.PluralNounTwo are born. You can carry a @Model.NounThree to keep dry, because it tends to @Model.Verb more often in spring.    
  </p>
</div>